/* TickerSelector.css */
.ticker-selector {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0 auto;
  }
  
  .ticker-button {
    padding: 10px 40px;
    border-radius: 50vh;
    border: 1px solid #ddd;
    background-color: white;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    min-width: 120px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }
  
  .ticker-button:hover { /* unselected over */
    background-color: #888888;
    color: white;
  }
  
  /* Default selected button */
  .ticker-button.SPY, 
  .ticker-button.QQQ, 
  .ticker-button.DIA {
    color: white;
    border-color: transparent;
    background-color: #666666;
  }
  
  .ticker-button.SPY:hover { /* selected hover */
    background-color: #888888;
  }
  
  .ticker-button.QQQ:hover { /* selected hover */
    background-color: #888888;
  }
  
  .ticker-button.DIA { /* selected hover */
    background-color: #888888;

  }
  
  /* Dark mode support */
/*   @media (prefers-color-scheme: dark) {
    .ticker-button {
      background-color: #333;
      border-color: #444;
      color: #eee;
    }
    
    .ticker-button:not(.SPY):not(.QQQ):not(.DIA):hover {
      background-color: #444;
    }
    
    .ticker-button.QQQ,
    .ticker-button.DIA {
      background-color: #444;
      color: #eee;
    }
    
    .ticker-button.QQQ:hover,
    .ticker-button.DIA:hover {
      background-color: #555;
    }
  } */